<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.goread.library">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoRead_library"
        tools:replace="android:icon">
        <activity
            android:name=".libraries.activities.ActivityMyBooks"
            android:exported="true" >


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.OnBordingActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AddNotificationActivity"
            android:exported="false" />
        <activity
            android:name=".libraries.activities.AddQuoteActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AddDriverActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AllQuotesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AllBooksActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AdminMainActivity"
            android:exported="true" />
        <activity
            android:name=".ResetPasswordDialog"
            android:exported="false" />
        <activity
            android:name=".libraries.activities.MyEarningActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AllAdminsActivity"
            android:exported="true"></activity>
        <activity
            android:name=".OrderItem"
            android:exported="true" />
        <activity
            android:name=".DriverItem"
            android:exported="true" />
        <activity
            android:name=".activities.AllNotificationActivity"
            android:exported="true" />
        <activity
            android:name=".libraries.activities.LibraryMainActivity"
            android:exported="true" />
        <activity
            android:name=".libraries.activities.LibraryProfileActivity"
            android:exported="true" />
        <activity
            android:name=".activities.AllOrdersActivity"
            android:exported="true" />
        <activity
            android:name=".activities.AllUsersActivity"
            android:exported="true" />
        <activity
            android:name=".activities.AllDriversActivity"
            android:exported="true" />
        <activity
            android:name=".activities.AddLibraryActivity"
            android:exported="true" />
        <activity
            android:name=".activities.AllLibrariesActivity"
            android:exported="true" />
        <activity
            android:name=".LibraryItem"
            android:exported="true" />
        <activity
            android:name=".ProfileAdminActivity"
            android:exported="true" />
        <activity
            android:name=".activities.AddAdminActivity"
            android:exported="true" />
        <activity
            android:name=".libraries.activities.LibraryOrdersActivity"
            android:exported="true" />
        <activity
            android:name=".libraries.activities.AddBookActivity"
            android:exported="true" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true">

        </activity>
    </application>

</manifest>