<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.goread.library">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_lib_with_admin_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_lib_with_admin_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoRead_library"
        tools:replace="android:icon">
        <activity
            android:name=".admin.activities.ShowLibraryActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ChatsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ChattingActivity"
            android:exported="false" />
        <activity
            android:name=".libraries.activities.MyBooksActivity"
            android:exported="true" />
        <activity
            android:name=".activities.OnBordingActivity"
            android:exported="false" />
        <activity
            android:name=".admin.activities.AddNotificationActivity"
            android:exported="false" />
        <activity
            android:name=".admin.activities.AddDriverActivity"
            android:exported="false" />
        <activity
            android:name=".libraries.activities.MyQuotesActivity"
            android:exported="false" />
        <activity
            android:name=".admin.activities.AllBooksActivity"
            android:exported="false" />
        <activity
            android:name=".admin.activities.AdminMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ResetPasswordDialog"
            android:exported="false" />
        <activity
            android:name=".admin.activities.MyEarningActivity"
            android:exported="false" />
        <activity
            android:name=".admin.activities.AllAdminsActivity"
            android:exported="true" />
        <activity
            android:name=".admin.activities.AllNotificationActivity"
            android:exported="true" />
        <activity
            android:name=".libraries.activities.LibraryMainActivity"
            android:exported="true"></activity>
        <activity
            android:name=".libraries.activities.LibraryProfileActivity"
            android:exported="true" />
        <activity
            android:name=".admin.activities.AllOrdersActivity"
            android:exported="true" />
        <activity
            android:name=".admin.activities.AllUsersActivity"
            android:exported="true" />
        <activity
            android:name=".admin.activities.AllDriversActivity"
            android:exported="true"></activity>
        <activity
            android:name=".admin.activities.AddLibraryActivity"
            android:exported="true" />
        <activity
            android:name=".admin.activities.AllLibrariesActivity"
            android:exported="true"></activity>
        <activity
            android:name=".ProfileAdminActivity"
            android:exported="true" />
        <activity
            android:name=".admin.activities.AddAdminActivity"
            android:exported="true" />
        <activity
            android:name=".libraries.activities.LibraryOrdersActivity"
            android:exported="true"></activity>
        <activity
            android:name=".libraries.activities.AddBookActivity"
            android:exported="true" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="true" >



        </activity>
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_api_key" />
    </application>

</manifest>